@import "../../styles/vars.less";


.section {
    background-color: @heederBackgroundColor;
    color: @heederColor;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}


div[dynamic] pre {
    white-space: pre-wrap;
    overflow-x: auto;
    border: 3px solid #506080;
    border-radius: 5px;
    padding: 10px;
}
