<p>The world, and computer software is no different, is evolving at an increasing pace. Everyday, a new technology is born to make things easier than with the existing, group functionality of existing or just plain-ol' solve problems of the exisintg, obviously, creating new (hopefully, better) ones. To make a wise, or educated, decision is virtually impossible. One would have to try everything there is, at that moment in time, knowing the decision is out-dated, the moment it is made.</p>

<p>Here, various options and combinations tools, technologies, languages, frameworks, etc., etc., will be tested to help (me) make a (less bad) decision.</p>

<h1>Determinations</h1>
<p>There has to be some choices made before hand, if for nothing else, to narrow the spectrum. These are:</p>
<ul>
    <li><b>No UI/UX logic on the server side</b>;</li>
    <li><b>The server only comunicates data and resources to the client</b>;</li>
    <li><b>No business logic on the client side</b>.</li>
</ul>

<h1>Layers</h1>
<p>A <em>modern</em> web solution (site or application as some call it), consists of many layers that cater for different concerns, although some technologies span more than one layer. Event the most static of the web sites has, for <a blank href="http://www.example.com/">www.example.com</a>, has:</p>
<ul>
    <li>Physical copy(ies) of files;</li>
    <li>A computer reponding to (HTTP) requests.</li>
</ul>
<p>This is just what the world-wide-web was at birth - all static. But, just for these two functionalities there an enormous variety of options. </p>